*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #FFF5E1;
    font-family: 'Poppins', sans-serif;
}

.swiper {
  max-height: 500px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}


.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}
