/*CONTACT*/
.contact {
  grid-area: Contact;
  border: 1px solid #dcdcdc;
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  background: #fff;
}

.contactTitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.contact label {
  font-size: 0.75rem;
  font-weight: 600;
  color: #555;
  display: block;
  margin-bottom: 0.4rem;
}

.contactName {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.contact input {
  width: 100%;
  padding: 0.8rem 1rem;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  outline: none;
  font-size: 0.9rem;
}

.contact input::placeholder {
  color: #aaa;
}

.contact input:focus {
  border-color: black;
}

.phoneNumber,
.email {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
/*Shipping*/
.shipping {
    grid-area: Address;
  border: 1px solid #dcdcdc;
  padding: 2rem;
  border-radius: 8px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.field label {
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
  display: block;
  color: #555;
}

.field input,
.field select {
  width: 100%;
  padding: 0.85rem 1rem;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  font-size: 0.9rem;
  outline: none;
  background: white;
}

.field input::placeholder {
  color: #aaa;
}

.field input:focus,
.field select:focus {
  border-color: black;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

/*PAYMENT*/
.payment {
  border: 1px solid #dcdcdc;
  padding: 2rem;
  border-radius: 8px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Title */
.title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

/* Payment options */
.option {
    grid-area: Payment;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  padding: 0.8rem 1rem;
  display: flex;
  cursor: pointer;
  background: #fff;
}

.option input {
  margin-right: 0.6rem;
  width: 18px;
  height: 18px;
}

.option span {
  font-size: 0.9rem;
  font-weight: 500;
  color: #333;
}


.option input:checked + span {
  font-weight: 600;
}

.option input:checked {
  accent-color: black;
}

.option input:checked ~ * {

  border-color: black;
}

.option:has(input:checked) {
  border-color: black;
  background: #f9f9f9;
}


.field label {
  font-size: 0.75rem;
  font-weight: 600;
  display: block;
  margin-bottom: 0.4rem;
  color: #555;
}


.field input {
  width: 100%;
  padding: 0.85rem 1rem;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  font-size: 0.9rem;
  outline: none;
}

.field input:focus {
  border-color: black;
}

.field input::placeholder {
  color: #aaa;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}
/*SUMMARY*/
.orderSummary {
  grid-area: Summary;
  border: 1px solid #dcdcdc;
  padding: 1.5rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: #fff;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 1.5rem;
}



.remove {
  border: none;
  background: none;
  color: #00b060;
  cursor: pointer;
}


.prices {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}

.row {
  display: flex;
  justify-content: space-between;
  font-size: 0.95rem;
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
}

.row h4 {
  font-weight: 500;
  color: #333;
}

.row p {
  color: #333;
}

.totalRow {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  margin-top: 0.5rem;
}

.totalRow p {
  font-weight: 700;
}
/*====*/

.placeOrder{
    grid-area: Place;
    justify-self: center;
    width: 100%;
}

.placeOrder button{
    
    justify-self: center;
    width: 100%;
    max-width: 16.3rem;
    background-color: #141718;
    color: white;
    padding: 1rem 0.6rem;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
}









