.accountContainer{
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template:repeat(5,auto)/1fr;
    grid-template-areas: 
    "PageTitle"
    "AccountVisual"
    "AccountDetails"
    "AccountPassword"
    "SaveChanges"
    ;
    padding: 3rem 0;
    gap: 5rem;
    
}

.pageTitle{
    grid-area: PageTitle;
    justify-self: center;
}

.accountVisual{
    grid-area:AccountVisual ;
    width: 100%;
    min-height: 25rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    border-radius: 0.5rem;
    gap: 5rem;
}

.accountInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.accountImg{
    width: 5rem;
    height: 5rem;
    background-color: black;
    border-radius: 100%;
}

.dropDown{
    width: 100%;
    display: block;
}

.dropDownOptions{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    font-size: 0.8rem;
}

.accountTabs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
    border: 1px solid black;
    width: 100%;
    border-radius: 0.5rem;
}

.list{
    display: none;
    flex-direction: column;
    align-self: flex-start;
}

.list ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

ul li {
    cursor: pointer;
}

.accountDetails{
    grid-area: AccountDetails;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.accountForm form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formInput label{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    color: gray;
    gap: 0.5rem;
}

.formInput input{
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border: 1px solid gray;
}

.accountPassword{
    grid-area: AccountPassword;
}

.saveChanges {
    grid-area: SaveChanges;
}

.saveChanges button{
    padding: 0.5rem 1rem ;
    border: none;
    background-color: #141718;
    color: white;
    border-radius: 0.5rem;
}

.successMsg {
  color: green;
  margin-top: 10px;
  font-weight: bold;
}

/*MEDIA*/
@media (min-width:1000px) {
    .accountContainer{
    grid-template:repeat(4,auto)/auto 1fr;
    grid-template-areas: 
    "PageTitle PageTitle"
    "AccountVisual AccountDetails"
    "AccountVisual AccountPassword"
    "Empty SaveChanges"
    ;
    padding: 3rem 0;
    gap: 5rem;
    
}
.dropDown{
    display: none;
}
.list{
    display: flex;
}
}
/*ACCOUNTADDRESS*/
.addressContainer{
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid black;
    max-width: 700px;
}

.addressContainerTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addressContainerTitle button{
    border: none;
    background-color: transparent;
}

.accountContainer p {
    font-size: 0.8rem;
}

/*ORDERSHISTORY*/
.orderID,
.orderDate,
.orderStatus,
.orderPrice{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

.order{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.orderHistory{
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}