.homeContainer{
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-rows:auto auto 45rem auto auto  ;
    grid-template-areas: 
    "MainSlider"
    "H1"
    "Category"
    "NewArrival"
    "Services"
    ;
    padding: 3rem 0;
    gap: 2rem;
}

/*SLIDER*/

.mainSlider{
    grid-area: MainSlider;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.mainSlider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/*H!*/

.h1{
    grid-area: H1;
}

.h1  span{
    color: gray;
}
/*CATEGORY*/
a{
    text-decoration: none;
    color: inherit;
}

.category{
    grid-area: Category;
    display: grid;
    grid-template-rows: 1fr repeat(2,0.5fr);
    grid-template-areas: 
    "LivingRoom"
    "BedRoom"
    "Kitchen"
    ;
    gap: 2rem;
}

.livingRoom{
    grid-area: LivingRoom;
    background-image: url(../assets/LivingRoom.png);
    background-size: contain;
    background-position:bottom;
    background-repeat: no-repeat;
    background-color: #e8e3e3;
    padding: 2rem;
}

.bedRoom{
    grid-area: BedRoom;
    background-image: url(../assets/BedRoom.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #e8e3e3;
     padding: 2rem;
}

.kitchen{
    grid-area: Kitchen;
    background-image: url(../assets/Kitchen.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-color: #e8e3e3;
     padding: 2rem ;
}

.kitchenLink{
    text-align: right;
}

/*NEW ARRIVALS*/

.newArrivalsContainer{
    grid-area: NewArrival;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/*Services*/
.servicesContainer{
    grid-area: Services;
    min-height: 20rem;
    display:flex ;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.servicesCard{
    width: 9rem;
    height: 9rem;
    background-color:#e8e3e3 ;
    padding:  1.5rem;
    font-size:0.8rem ;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.servicesCard p {
    color: gray;
}
/*NewSeltter*/



/*MEDIA*/
@media (min-width:900px) {
    .h1{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .h1 h2 {
        font-size: 2rem;
        width: 60%;
    }

.homeContainer{
    grid-template-rows:auto auto 35rem auto auto  ;
}

    .category{
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "LivingRoom BedRoom"
        "LivingRoom Kitchen"
        ;
    }
    .servicesCard{
        width: 15rem;
        height: 15rem;
        align-items: center;
        justify-content: center;
    }
    
}

