.newSletter{
    background-color: #e8e3e3;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.newsletterTitle{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.newsletterTitle p {
    text-align: start;
    font-size:0.8rem;
}



@media (min-width:900px) {
    
    .newSletter{
        align-items: center;
        justify-content: center;
        height: 20rem;
    }
}
