.productCardContainer{
    display: flex;
    flex-direction: column;
}

.productCard{
    width: 9rem;
    min-height: 12rem;
    background-color: #e8e3e3;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.productImg{
    width: 100%;
    
}

.productImg img {
    width: 100%;
    height: 100%;
}

.tags{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new{
    background-color: white;
    padding: 0 1rem;
    font-size: 0.7rem;
    border-radius: 0.5rem;
}

.addCart{
    align-self: center;
}

.addCart button{
    cursor: pointer;
    padding: 0.5rem 1rem;
    background-color:#141718 ;
    color: white;
    border: none;
    border-radius: 0.5rem;
}

.productDesc{
    width: 100%;
    min-height: 5rem;
    padding: 0.5rem 0.6rem;
}

/*MEDIA*/
@media (min-width:900px) {
    .productCard{
        width: 12rem;
    }
    .addCart button{
        padding:  0.5rem 2rem;
    }
}